body { 
    background-color: lavenderblush;
    font-family: garamond;
}

h1 {
    background-color: #ffc0cb;
    font-family: 'Cormorant Garamond', serif;
}
h2 {
    background-color: #ffc0cb;
    font-family: 'Cormorant Garamond', serif;
}

nav {
    padding: 10px;
    margin-bottom: 30px;
    background-color: #9298bb;
}
nav a {color: aliceblue;}
nav {color: aliceblue;}

nav a:hover {background-color: grey;}

div {
    border: 1px solid black;
    margin: 30px;
    padding: 50px;
    background-color: white;
    border-radius: 25px;
}