body { 
    background-color: lavenderblush;
    font-family: garamond;
}

h1 {
    background-color: #ffc0cb;
    font-family: 'Cormorant Garamond', serif;
}
h2 {
    background-color: #ffc0cb;
    font-family: 'Cormorant Garamond', serif;
}

nav {
    padding: 10px;
    margin-bottom: 30px;
    background-color: palevioletred;
}
nav a {color: aliceblue;}
nav {color: aliceblue;}

nav a:hover {background-color: grey;}
